.admin-sidebar {
    background: #4D658D;
    width: 300px;
    min-height: 100vh;
    color: #fff;
}

select.select-option {
border: none;
outline: none;
background: #4D658D;
color: #fff;
font-size: 1rem;
cursor: pointer;
}

.admin-sidebar > *{
    padding: 1rem 0 0 2rem;
}

.staff-img > img {
    border-radius: 50%;
}

.staff-img p{
    margin-top: 1rem;
}

.staff-img {
    padding-bottom: 1.5rem;
}


