.primary-button {
    clear: right; 
    background: linear-gradient(#fff,#fff) padding-box, 
    linear-gradient(#413075 0.2%,#2C3A7D 10.91%,#044282 19.93%,#004984 27.27%,#005084 36.36%,#005581 45.45%,#005A7D 54.55%,#005F77 63.64%,#006271 72.73%,#00666B 81.82%,#006965 90.91%,#246C60 100%) border-box;
    border: 2px solid transparent;
    padding: 20px 90px;
    border-radius: 5px;
    /* margin: 4rem 4rem 1rem; */
    color: #0D5146;
    font-weight: bolder;
    display: block;
    position: relative;
    left: 4.5rem;
    top: 1rem
}

.primary-button:hover {
    background:linear-gradient(116.82deg, #413075 0.2%,#2C3A7D 10.91%,#044282 19.93%,#004984 27.27%,#005084 36.36%,#005581 45.45%,#005A7D 54.55%,#005F77 63.64%,#006271 72.73%,#00666B 81.82%,#006965 90.91%,#246C60 100%);
    color: #fff;
    cursor: pointer;
}



.secondary-button {
    clear: right; 
    padding: 10px;
    background: linear-gradient(#fff,#fff) padding-box, 
    linear-gradient(#413075 0.2%,#2C3A7D 10.91%,#044282 19.93%,#004984 27.27%,#005084 36.36%,#005581 45.45%,#005A7D 54.55%,#005F77 63.64%,#006271 72.73%,#00666B 81.82%,#006965 90.91%,#246C60 100%) border-box;
    border: 2px solid transparent;
    padding: 1rem 4rem;
    /* border-image: linear-gradient(#413075 0.2%,#2C3A7D 10.91%,#044282 19.93%,#004984 27.27%,#005084 36.36%,#005581 45.45%,#005A7D 54.55%,#005F77 63.64%,#006271 72.73%,#00666B 81.82%,#006965 90.91%,#246C60 100%) 15;   */
    border-radius: 5px;
    /* background: #fff; */
    margin: 2rem 0 2.5rem 0;
    color: #0D5146;
    font-weight: bolder;
    display: block;
    cursor: pointer;
}

.secondary-button:hover {
    background:linear-gradient(116.82deg, #413075 0.2%,#2C3A7D 10.91%,#044282 19.93%,#004984 27.27%,#005084 36.36%,#005581 45.45%,#005A7D 54.55%,#005F77 63.64%,#006271 72.73%,#00666B 81.82%,#006965 90.91%,#246C60 100%);
    color: #fff;
}

.neutral-button {
        background: linear-gradient(#fff,#fff) padding-box, 
        linear-gradient(#413075 0.2%,#2C3A7D 10.91%,#044282 19.93%,#004984 27.27%,#005084 36.36%,#005581 45.45%,#005A7D 54.55%,#005F77 63.64%,#006271 72.73%,#00666B 81.82%,#006965 90.91%,#246C60 100%) border-box;
        border: 2px solid transparent;
        padding: 10px 90px;
        border-radius: 5px;
        color: #0D5146;
        font-weight: bolder;
        display: block;
        position: relative;
        left: 5rem;
        top: -2rem;
}