.leave-content {
    margin: 4.5rem 1.5rem 1.5rem 1.5rem;
}

.leave-container {
    width: 66rem;
}

.leave-days {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    background: #F7F7F7;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

.leave-days p {
    font-size: 0.8rem;
    color: #5E5E5E;
}

.leave-request {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.leave-request a {
    color: #5E5E5E;
    text-decoration: none;
}

.leave-status-container {
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

.leave-status {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0.5rem 0.1rem 0.5rem;
}

.leave-status-info{
    display: flex;
    background: #F7F7F7;
    padding: 1rem 1.5rem;
    justify-content: space-between;
}

.leave-info {
    display: flex;
    align-items: center;
}

.leave-info > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.leave-date {
    margin-left: 1rem;
}

/* some leave status modal css is in memocontent css file*/
.leave-status-modal div > input {
    border: none;
    outline: 0;
    background: #F7F7F7;
    height: 4.3rem;
    width: 22rem;
    margin: 0.3rem 0    
}

.leave-status-modal div:nth-child(4) > p{
    height: 4.3rem;
    width: 22rem;    
    margin: 0.3rem 0;
    margin-top: 0.5rem;
}

.leave-status-modal hr {
    border: 0.5px solid #B3B3B3;
}

.leave-status-modal >* {
    margin: 1.2rem 0;
    font-size: 0.9rem;
}

.leave-status-modal div:last-child {
    display: flex;
    justify-content: flex-end;
}

.leave-status-modal div:last-child > p:first-child {
    margin-right: 1rem;
    color:  #D4293D;
}

.leave-status-modal div:last-child > p:last-child {
    color: #246C60;
}

.border-bottom {
    border-bottom: 2px solid #2c4770;
  padding: 0 38px;
}



/* @media (max-width:1200px){
.leave-container {
    width: 35rem;
}
} */