@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;    
  font-family: 'Fira Sans', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header{
  border-bottom: none !important;
}