.admin-display-flex {
    display: flex;
    min-height: 100vh;
}


.side-wrapper{
    min-height: 100vh;
}


.admin-navbar {
    background: #2c4770;
    display: flex;
    justify-content: space-between;
    padding: 1.1rem 3rem 1.1rem 1.5rem;
    color: #fff;
    font-size: 0.92rem;
    position: fixed;
    min-width: 81%;

}